.app-scene{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  width: 80%;
  height: 80%;
  outline: 5px double #1C6EA4;
  outline-offset: 0px;
  background-color: #000;
}